agora_token_builder==1.0.0
appnope==0.1.3
asgiref==3.7.2
asttokens==2.2.1
backcall==0.2.0
bcrypt==4.0.1
blinker==1.6.2
cffi==1.15.1
click==8.1.6
comm==0.1.3
crispy-bootstrap5==2023.10
cryptography==41.0.3
debugpy==1.6.7
decorator==5.1.1
distlib==0.3.8
dj-database-url==2.1.0
Django==4.2.7
django-crispy-forms==2.1
django-filter==23.5
django-widget-tweaks==1.5.0
environ==1.0
executing==1.2.0
filelock==3.13.1
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
greenlet==3.0.0
gunicorn==21.2.0
humanize==4.9.0
ipykernel==6.25.0
ipython==8.14.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jupyter_client==8.3.0
jupyter_core==5.3.1
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mysql-connector==2.2.9
nest-asyncio==1.5.6
packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.9.1
prompt-toolkit==3.0.39
psutil==5.9.5
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.15.1
python-dateutil==2.8.2
pyzmq==25.1.0
six==1.16.0
SQLAlchemy==2.0.22
sqlparse==0.4.4
stack-data==0.6.2
tornado==6.3.2
traitlets==5.9.0
typing_extensions==4.8.0
virtualenv==20.25.0
wcwidth==0.2.6
Werkzeug==3.0.1
whitenoise==6.6.0
WTForms==3.0.1
